<nav class="breadcrumb">

  <a routerLink="/home">Inicio</a>


</nav>
<!-- NAV SOLO BUSCADOR -->
<nav class="navbar">

  
  <!-- BUSCADOR -->
  <div class="nav-search">

    <input
      type="text"
      placeholder="Buscar libros..."
      [(ngModel)]="searchQuery"
      (keyup.enter)="searchBooks()"
    />

    <button (click)="searchBooks()">🔎</button>

    <button
      *ngIf="searchQuery"
      class="clear-btn"
      (click)="clearSearch()"
    >
      ✕
    </button>

  </div>

</nav>


<main class="homepage">




<!-- RESULTADOS -->
<section *ngIf="searchResults.length > 0" class="catalog-container">

  <div class="catalog-box">

    <div class="catalog-header">
      <h2>Resultados de búsqueda</h2>
      <span>{{searchResults.length}} encontrados</span>
    </div>

    <hr>

    <div class="books-grid">

      <div
        class="book-card"
        *ngFor="let book of searchResults"
        (click)="goToBook(book)"
      >

        <img 
          [src]="book.thumbnail || 'assets/default-book-cover.jpg'"
          alt="Libro"
        >

        <h3>{{book.title}}</h3>

        <p class="author">
          {{book.author}}
        </p>

      </div>

    </div>

  </div>

</section>


<!-- PLAN 
<section *ngIf="subscriptionInfo" class="plan-card">

  <div class="plan-header">
    <h2>
      {{subscriptionInfo.esPremium ? '👑 Premium' : '📚 Básico'}}
    </h2>
  </div>

  <div class="plan-grid">

    <div class="plan-box">
      <p>Límite</p>
      <strong>{{subscriptionInfo.limiteDiario}}</strong>
    </div>

    <div class="plan-box">
      <p>Leídos</p>
      <strong>{{subscriptionInfo.leidosHoy}}</strong>
    </div>

    <div class="plan-box">
      <p>Restantes</p>
      <strong>{{subscriptionInfo.restantesHoy}}</strong>
    </div>

  </div>

</section>-->


<!-- SECCIÓN PRINCIPAL (2 COLUMNAS) -->
<section *ngIf="!searchQuery" class="main-cards">

  <!-- IZQUIERDA: CARRUSEL -->
  <div class="carousel-container">

  <h2>Descubre Nuevos Libros</h2>

  <p class="subtitle">Explora historias increíbles</p>

  <div class="carousel">


      <button (click)="prevBooks()" class="carousel-btn">‹</button>

      <div class="carousel-track">

        <div
          class="carousel-card"
          *ngFor="let book of carouselBooks"
          (click)="goToBook(book)"
        >
          <img [src]="book.thumbnail || 'assets/default-book-cover.jpg'" />
        </div>

      </div>

      <button (click)="nextBooks()" class="carousel-btn">›</button>

    </div>

  </div>


  <!-- DERECHA -->
<div class="right-cards">

  <!-- RECOMENDADOS -->
  <div class="recommended-container">

    <h3>⭐ Recomendados</h3>

    <ul>
      <li
        *ngFor="let book of recommendedBooks"
        (click)="goToBook(book)"
      >
        {{book.title}}
      </li>
    </ul>

  </div>

  <!-- MÁS POPULARES -->
  <div class="popular-container">

    <h3>🔥 Más populares</h3>

    <ul>
      <li
        *ngFor="let book of popularBooks"
        (click)="goToBook(book)"
      >
        {{book.title}}
      </li>
    </ul>

  </div>

</div>