<div class="rn-books-container">

  <main class="rn-main">

    <!-- HERO / CARRUSEL -->
    <section class="rn-hero">

      <h1 class="rn-title">Tu Momento de lectura ha llegado</h1>
      <h2 class="rn-subtitle">Descubre Nuevos Libros</h2>

      <div class="rn-carousel">

        <button class="rn-arrow" (click)="prevBooks()">‹</button>

        <div class="rn-books-container">

          <div
            class="rn-book"
            *ngFor="let b of carouselBooks"
            [class.locked]="b.premium && !auth.isPremium()"
            (click)="goToBook(b)"
          >

            <img [src]="b.thumbnail" alt="Portada del libro">

            <div class="lock-overlay" *ngIf="b.premium && !auth.isPremium()">
              🔒 Premium
            </div>

            <div class="rn-book-overlay">
              <h3>{{b.title}}</h3>
              <p>{{b.author}}</p>
            </div>

          </div>
        </div>

        <button class="rn-arrow" (click)="nextBooks()">›</button>

      </div>

    </section>

    <!-- SIDEBAR -->
    <div class="rn-sidebar">

      <!-- RECOMENDADOS -->
      <div class="rn-sidebar-section">
        <h3>Recomendados</h3>

        <div *ngFor="let rec of recommendedBooks" class="rn-recommended-item"
             [class.locked]="rec.premium && !auth.isPremium()"
             (click)="goToBook(rec)">
          <div class="rn-rec-dot"></div>
          {{rec.title}}
          <span *ngIf="rec.premium && !auth.isPremium()">🔒</span>
        </div>

      </div>

      <!-- POPULARES -->
      <div class="rn-sidebar-section">
        <h3>Más Populares</h3>

        <div *ngFor="let pop of popularBooks" class="rn-recommended-item"
             [class.locked]="pop.premium && !auth.isPremium()"
             (click)="goToBook(pop)">
          <div class="rn-rec-dot"></div>
          {{pop.title}}
          <span *ngIf="pop.premium && !auth.isPremium()">🔒</span>
        </div>

      </div>

    </div>

  </main>

</div>