@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(180deg, #8ecff0 0%, #b9e6ff 100%);
  color: #1e293b;
}
